<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This app deals with CRUD operation like creating users, reading or finding users, updating the users 
      if necessary and at last deleting the users if the admin or certain users required.
    </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>